@import url('https://fonts.googleapis.com/css2?family=Micro+5+Charted&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Micro+5+Charted&display=swap');

header {
    font-family: "Jersey 10", sans-serif;
    font-size: 75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F0303;
    color: rgb(219, 211, 211);
    padding: 1%;
    }
h2{
font-size: 40px;
}

ul {
    min-width: 50%;
    list-style-type: none; 
    padding: 0;
    justify-content: space-between;
}
li{
    font-size: 38;
    color: #ECD7D7
}

.nav-link{
    font-family: "Micro 5 Charted", sans-serif;
    font-size: 38px;
    color: #A97070;
}
.nav-link:hover{
    color: #592020;
}
.nav-link.active{
    color: #ECD7D7;
}
