
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #A97070;
    padding: 10px;
}
.react-icons {
    margin-left: 48%;
    justify-content: center;
    color: gray;
  }

.react-icons:hover{
    color: white
}
